/*  universal*/
* {background-color: blueviolet;}
h1{ background-color: rgb(49, 226, 43); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
h2{ background-color: rgb(99, 99, 201);}
h3{ background-color: aqua;}