body{ 
       background-image: url(images/black\ mountain.jpg);
background-repeat: no-repeat;
background-size: cover;
/* background: #b09ea4;
background: radial-gradient(circle, rgba(176, 158, 164, 1) 0%, rgba(15, 16, 18, 1) 100%);
 */

}
/* .container{
    background-image: url(/images/laptop.jpg);
     height: 100vh;
    width: 100vw;
     background-size: cover;
}
form{
    text-align: center;
    padding: 300px 20px 20px 20px;
}
.title{
    display: inline-block;
     width: 100px;
}
.feildset{
    /* background-color: grey ;
    width: 350px;
    padding: 20px; */
     /* width: 350px;
    border: 1px solid #a9a4a4f5;
    border-radius: 10px;
    padding: 20px;
    float: right;
    margin: 180px 280px;
/* } */ 
.navbar{
    display: flex;
    justify-content: center;
    color: azure;
    
}
li{
      display: inline-block;
      text-transform: uppercase;
       border-radius: 15px;
      text-decoration: none;
        padding: 20px 30px;
        cursor: pointer;
        font-family: "Funnel Display";
        /* transform: scale(1.0);
        transition: 2s; */
        color: aliceblue;
        
}
.ul{
    color: antiquewhite;
}


li:hover{
     border: 2px solid black;
    
background: #e6acbf;
background: radial-gradient(circle, rgba(230, 172, 191, 1) 0%, rgba(73, 86, 112, 1) 100%);
 transform: scale(1.3);
        transition: 3s;


}
.container{
    width: 300px;
    height: 200px;
    padding: 100px 100px 200px 100px;
    margin: 100px  100px 100px 200px ;
    /* background-color:rgb(121, 110, 110) ;opacity: 0.3; */
   

}
form{
   
   height: 250px;
   width: 300px;
   text-align: center;
   border: 2px solid black;
   color: rgb(245, 222, 222);
    background-color:rgba(241, 216, 216,0.1) ;
        padding: 50px 50px 100px 50px;
        margin: 0px 50px 50px 30px;
       

}
.title{
    padding: 10px;
      color: rgb(244, 224, 224);
      display: inline-block;
}
.feilds{
        color: rgb(24, 16, 16);
        border: 2px solid black;
      

   
}

button:hover{
   background: #f288af;
background: radial-gradient(circle, rgba(242, 136, 175, 1) 0%, rgba(59, 60, 61, 1) 100%);
transform: scale(1.3);
        transition: 3s;
    
}
button{
    border-radius: 10px;
    padding: 10px;
    background: #f288af;
    background: radial-gradient(circle, rgba(242, 136, 175, 1) 0%, rgba(59, 60, 61, 1) 100%);
}

a{
    color: aliceblue;
    text-decoration: none;
}
#password{
    background-image: url(images/eye.jpeg);
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: right;
}
   #email{
     background-image: url(images/email.jpg);
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: right;

   }
   #number{
     background-image: url(images/phone.jpg);
   background-size: 17px;
   background-repeat: no-repeat;
   background-position: right;
   }

