body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow-x: hidden;
}
* {
    /* width: 1400px; */
    margin: 0 auto;
    box-sizing: border-box;
    color: aliceblue;
    max-width: 1480px;
}
header {
    height: 90px;
    width: 1440px;
    margin: 0px auto;
    background-color: black;
    /* position: relative; */
    padding-bottom: 27px;
    position: fixed;
    z-index: 1;

}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 13px; */

}